//=================================================
// Accordion
//=================================================

.card-header {
    padding: 0.675rem 0 !important;
}
.card .card-body {
    padding: 0.875rem 0;
}
ul li {
    line-height: 0.2;
    margin-bottom: 1.481rem;
}
h5, .h5 {
    margin-bottom: 0;
}

