//=================================================
// Accordion
//=================================================

.card-header {
    padding: 0.675rem 0 !important;
}
.card .card-body {
    padding: 0.875rem 0;
}
ul li {
    line-height: 0.5;
    margin-bottom: 1.481rem;
}
h5, .h5 {
    margin-bottom: 0;
}
#accordion-example {
    margin-top: 20px;
}
.bd-example {
    margin-bottom: 20px;
    padding: 0rem !important;
    border: 0px;
}


